versions/
servers/

__pycache__/
tests/

.secret*/
Spigot/
PortableGit*/
apache-maven*/
work/
cache/
BuildTools.log.txt

backend/bin/

logs/
data/
.venv

test.*
.vscode
.vscode2
.env
Needed/
*FRONTEND*.MD
