services:
  backend:
    build: ./backend
    container_name: voxely_backend
    expose:
      - "25401"
    volumes:
      - ./backend/servers:/app/servers:Z
      - ./backend/logs:/app/logs:Z
    restart: unless-stopped
    networks:
      - app_network
  frontend:
    build: ./frontend
    container_name: voxely_frontend
    expose:
      - "3000"
    networks:
      - app_network
    restart: unless-stopped
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "${HOST_PORT:-80}:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro,Z
    depends_on:
      - frontend
      - backend
    networks:
      - app_network
networks:
  app_network:
    driver: bridge
